:root {
    --h1-font-size: 2rem;
    --h2-font-size: 1.2rem;
    --h1-height: calc(var(--h1-font-size) * 1.5);
    --h2-height: calc(var(--h2-font-size) * 1.5);
    --list-item-font-size: 1.1rem;
}

header {
    display: flex;
    border-bottom: 1px solid silver;
    justify-content: space-between;
    align-items: center;
}

header figure {
    height: var(--logo-height);
    margin: var(--logo-margin);
}

header figure img {
    height: 100%;
    opacity: .2;
}

header section {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header section h1 {
    font-size: 2rem;
    line-height: var(--h1-height);
    height: var(--h1-height);
}

header section h2 {
    font-size: var(--h2-font-size);
    line-height: var(--h2-height);
    height: var(--h2-height);
}

header ul {
    margin-right: 1rem;
    list-style: none;
}

header ul li {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 2rem;
}

header ul li svg {
    width: 100%;
    height: 100%;
}
